<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
		<payment >
			<custompayment>
				<payment_action>authorize</payment_action>
				<model>Zamen\CustomPayment\Model\PaymentMethod</model>
				<active>1</active>
				<api_key>Enter API key</api_key>
				
				<api_secret>Enter API secret</api_secret>
				<test_mode>0</test_mode>
				<processing_fee>// to be configured</processing_fee>
				<title>Pipwave Payment</title>
				<order_status>pending_payment</order_status>
			</custompayment>
		</payment>
	</default>
</config>