<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="event_omg">
    <observer name="zamen_custompayment_observer" instance="\Zamen\CustomPayment\Observer\TestObserver"></observer>
  </event>
</config>